
.encabezado {
    background: rgba(8, 31, 84, 1);
    background: -moz-linear-gradient(left, rgba(8, 31, 84, 1) 0%, rgba(2, 46, 150, 1) 49%, rgba(10, 65, 204, 1) 79%, rgba(21, 110, 189, 1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(8, 31, 84, 1)), color-stop(49%, rgba(2, 46, 150, 1)), color-stop(79%, rgba(10, 65, 204, 1)), color-stop(100%, rgba(21, 110, 189, 1)));
    background: -webkit-linear-gradient(left, rgba(8, 31, 84, 1) 0%, rgba(2, 46, 150, 1) 49%, rgba(10, 65, 204, 1) 79%, rgba(21, 110, 189, 1) 100%);
    background: -o-linear-gradient(left, rgba(8, 31, 84, 1) 0%, rgba(2, 46, 150, 1) 49%, rgba(10, 65, 204, 1) 79%, rgba(21, 110, 189, 1) 100%);
    background: -ms-linear-gradient(left, rgba(8, 31, 84, 1) 0%, rgba(2, 46, 150, 1) 49%, rgba(10, 65, 204, 1) 79%, rgba(21, 110, 189, 1) 100%);
    background: linear-gradient(to right, rgba(8, 31, 84, 1) 0%, rgba(2, 46, 150, 1) 49%, rgba(10, 65, 204, 1) 79%, rgba(21, 110, 189, 1) 100%);
}

.espacioDerecha {
    padding-left: 30px;
}

.espacioSuperiorContenido {
    margin-top: 1.5%;
}